In [ ]:
# SQL CARTO QUERY FUNCTION

## This notebook is set up to link as a default to Carto account.  To turn in the homework use the same account you used in the lab   and query the database that you were querying in demo

In [2]:
SQL_SOURCE = 'https://as9788.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - output format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto as9788 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [5]:
test = '''
SELECT *
FROM citibike_1
'''

In [21]:
#Task 1 : Sort dta by start_station_id, tripduration , only checking trips with duration <= 3 hours 
task_1_a = '''
SELECT * FROM citibike_1
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration DESC 
'''
# displays the last 10 rows since it's sorting in descending order 
task_1_b = '''
SELECT * FROM citibike_1
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration DESC LIMIT 10
'''
# displays the top 10 rows since it's sorting in ascending order 
task_1_c = '''
SELECT * FROM citibike_1
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration ASC LIMIT 10
'''

# displays all unique start_station_id values
task_1_d = '''
SELECT DISTINCT start_station_id
FROM citibike_1
'''

#SELECT DISTINCT column1, column2, ...
#FROM table_name;

#Count the number of trips 
task_1_e ='''
SELECT count (*)
FROM citibike_1
'''
#SELECT count(*)
#FROM table_name;

#Find the average/min/max trip duration 
task_1_f='''
SELECT MAX(tripduration)
FROM citibike_1
'''
#Find the average/min/max trip duration 
task_1_g='''
SELECT MIN(tripduration)
FROM citibike_1
'''


#Find the average/min/max trip duration 
task_1_h='''
SELECT AVG(tripduration)
FROM citibike_1
'''

#SELECT MAX(column_name)
#FROM table_name
#WHERE condition;


#SELECT AVG(column_name)
#FROM table_name
#WHERE condition;

In [6]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,1,NaN,NaN,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978,2
1,89,NaN,NaN,245,2/1/2015 1:03,2/1/2015 1:07,438,St Marks Pl & 1 Ave,40.727791,-73.985649,297,E 15 St & 3 Ave,40.734232,-73.986923,20142,Subscriber,1990,1
2,2,NaN,NaN,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993,1
3,3,NaN,NaN,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969,2
4,4,NaN,NaN,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985,2
5,5,NaN,NaN,544,2/1/2015 0:01,2/1/2015 0:10,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957,1
6,6,NaN,NaN,717,2/1/2015 0:02,2/1/2015 0:14,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979,1
7,7,NaN,NaN,1306,2/1/2015 0:04,2/1/2015 0:26,352,W 56 St & 6 Ave,40.763406,-73.977225,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983,1
8,8,NaN,NaN,913,2/1/2015 0:04,2/1/2015 0:19,439,E 4 St & 2 Ave,40.726281,-73.989780,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955,1
9,9,NaN,NaN,759,2/1/2015 0:04,2/1/2015 0:17,335,Washington Pl & Broadway,40.729039,-73.994046,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985,2
10,10,NaN,NaN,585,2/1/2015 0:05,2/1/2015 0:15,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982,1
11,11,NaN,NaN,581,2/1/2015 0:05,2/1/2015 0:15,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,444,Broadway & W 24 St,40.742354,-73.989151,16936,Subscriber,1988,2
12,12,NaN,NaN,204,2/1/2015 0:05,2/1/2015 0:08,498,Broadway & W 32 St,40.748549,-73.988084,472,E 32 St & Park Ave,40.745712,-73.981948,21507,Subscriber,1991,2
13,13,NaN,NaN,1169,2/1/2015 0:07,2/1/2015 0:27,368,Carmine St & 6 Ave,40.730386,-74.002150,307,Canal St & Rutgers St,40.714275,-73.989900,17456,Subscriber,1982,2
14,14,NaN,NaN,419,2/1/2015 0:07,2/1/2015 0:14,326,E 11 St & 1 Ave,40.729538,-73.984267,2012,E 27 St & 1 Ave,40.739445,-73.976806,14679,Subscriber,1990,2
15,171,NaN,NaN,413,2/1/2015 2:41,2/1/2015 2:48,478,11 Ave & W 41 St,40.760301,-73.998842,465,Broadway & W 41 St,40.755136,-73.986580,17968,Subscriber,1970,1
16,15,NaN,NaN,527,2/1/2015 0:09,2/1/2015 0:17,285,Broadway & E 14 St,40.734546,-73.990741,212,W 16 St & The High Line,40.743349,-74.006818,18978,Subscriber,1977,1
17,16,NaN,NaN,1013,2/1/2015 0:10,2/1/2015 0:27,368,Carmine St & 6 Ave,40.730386,-74.002150,488,W 39 St & 9 Ave,40.756458,-73.993722,16496,Subscriber,1968,1
18,17,NaN,NaN,587,2/1/2015 0:13,2/1/2015 0:23,394,E 9 St & Avenue C,40.725213,-73.977688,331,Pike St & Monroe St,40.711731,-73.991930,17107,Subscriber,1990,1
19,18,NaN,NaN,525,2/1/2015 0:13,2/1/2015 0:22,326,E 11 St & 1 Ave,40.729538,-73.984267,507,E 25 St & 2 Ave,40.739126,-73.979738,16984,Subscriber,1987,1
20,19,NaN,NaN,670,2/1/2015 0:14,2/1/2015 0:26,493,W 45 St & 6 Ave,40.756800,-73.982912,305,E 58 St & 3 Ave,40.760958,-73.967245,15997,Subscriber,1980,1
21,20,NaN,NaN,711,2/1/2015 0:15,2/1/2015 0:27,445,E 10 St & Avenue A,40.727408,-73.981420,223,W 13 St & 7 Ave,40.737815,-73.999947,21516,Subscriber,1960,1
22,21,NaN,NaN,1559,2/1/2015 0:16,2/1/2015 0:42,428,E 3 St & 1 Ave,40.724677,-73.987834,457,Broadway & W 58 St,40.766953,-73.981693,15815,Subscriber,1986,1
23,22,NaN,NaN,683,2/1/2015 0:16,2/1/2015 0:27,228,E 48 St & 3 Ave,40.754601,-73.971879,477,W 41 St & 8 Ave,40.756405,-73.990026,18727,Subscriber,1987,1
24,23,NaN,NaN,522,2/1/2015 0:16,2/1/2015 0:24,513,W 56 St & 10 Ave,40.768254,-73.988639,488,W 39 St & 9 Ave,40.756458,-73.993722,14982,Subscriber,1969,1
25,24,NaN,NaN,389,2/1/2015 0:16,2/1/2015 0:23,507,E 25 St & 2 Ave,40.739126,-73.979738,518,E 39 St & 2 Ave,40.747804,-73.973442,16391,Subscriber,1957,1
26,25,NaN,NaN,276,2/1/2015 0:16,2/1/2015 0:21,439,E 4 St & 2 Ave,40.726281,-73.989780,473,Rivington St & Chrystie St,40.721101,-73.991925,15947,Subscriber,1981,1
27,26,NaN,NaN,907,2/1/2015 0:17,2/1/2015 0:32,128,MacDougal St & Prince St,40.727103,-74.002971,531,Forsyth St & Broome St,40.718939,-73.992663,16917,Subscriber,1993,1
28,27,NaN,NaN,946,2/1/2015 0:18,2/1/2015 0:33,490,8 Ave & W 33 St,40.751551,-73.993934,528,2 Ave & E 31 St,40.742909,-73.977061,15924,Subscriber,1975,1
29,28,NaN,NaN,144,2/1/2015 0:18,2/1/2015 0:21,350,Clinton St & Grand St,40.715595,-73.987030,502,Henry St & Grand St,40.714215,-73.981346,21321,Subscriber,1973,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,169,NaN,NaN,151,2/1/2015 2:40,2/1/2015 2:42,236,St Marks Pl & 2 Ave,40.728419,-73.987140,439,E 4 St & 2 Ave,40.726281,-73.989780,19545,Subscriber,1993,1
170,170,NaN,NaN,1859,2/1/2015 2:41,2/1/2015 3:12,293,Lafayette St & E 8 St,40.730287,-73.990765,373,Willoughby Ave & Walworth St,40.693317,-73.953820,19834,Subscriber,1976,1
171,172,NaN,NaN,473,2/1/2015 2:45,2/1/2015 2:53,382,University Pl & E 14 St,40.734927,-73.992005,358,Christopher St & Greenwich St,40.732916,-74.007114,19473,Subscriber,1995,1
172,173,NaN,NaN,783,2/1/2015 2:46,2/1/2015 2:59,521,8 Ave & W 31 St,40.750450,-73.994811,300,Shevchenko Pl & E 7 St,40.728145,-73.990214,17606,Subscriber,1986,1
173,174,NaN,NaN,310,2/1/2015 2:48,2/1/2015 2:53,293,Lafayette St & E 8 St,40.730287,-73.990765,317,E 6 St & Avenue B,40.724537,-73.981854,20011,Subscriber,1968,1
174,175,NaN,NaN,400,2/1/2015 2:49,2/1/2015 2:56,250,Lafayette St & Jersey St,40.724561,-73.995653,410,Suffolk St & Stanton St,40.720664,-73.985180,20910,Subscriber,1976,2
175,176,NaN,NaN,198,2/1/2015 2:51,2/1/2015 2:54,489,10 Ave & W 28 St,40.750664,-74.001768,521,8 Ave & W 31 St,40.750450,-73.994811,19705,Subscriber,1990,1
176,177,NaN,NaN,561,2/1/2015 2:52,2/1/2015 3:01,498,Broadway & W 32 St,40.748549,-73.988084,478,11 Ave & W 41 St,40.760301,-73.998842,17010,Subscriber,1977,1
177,178,NaN,NaN,413,2/1/2015 2:57,2/1/2015 3:03,537,Lexington Ave & E 24 St,40.740259,-73.984092,433,E 13 St & Avenue A,40.729554,-73.980572,16235,Subscriber,1988,1
178,179,NaN,NaN,668,2/1/2015 3:00,2/1/2015 3:11,477,W 41 St & 8 Ave,40.756405,-73.990026,528,2 Ave & E 31 St,40.742909,-73.977061,17881,Subscriber,1992,2
179,180,NaN,NaN,788,2/1/2015 3:05,2/1/2015 3:18,411,E 6 St & Avenue D,40.722281,-73.976687,531,Forsyth St & Broome St,40.718939,-73.992663,16202,Subscriber,1954,1
180,181,NaN,NaN,355,2/1/2015 3:05,2/1/2015 3:11,404,9 Ave & W 14 St,40.740583,-74.005509,127,Barrow St & Hudson St,40.731724,-74.006744,14589,Subscriber,1989,1
181,182,NaN,NaN,469,2/1/2015 3:06,2/1/2015 3:14,477,W 41 St & 8 Ave,40.756405,-73.990026,160,E 37 St & Lexington Ave,40.748238,-73.978311,14937,Subscriber,1985,1
182,183,NaN,NaN,251,2/1/2015 3:11,2/1/2015 3:16,504,1 Ave & E 15 St,40.732219,-73.981656,507,E 25 St & 2 Ave,40.739126,-73.979738,16301,Subscriber,1983,1
183,184,NaN,NaN,422,2/1/2015 3:19,2/1/2015 3:26,250,Lafayette St & Jersey St,40.724561,-73.995653,150,E 2 St & Avenue C,40.720874,-73.980858,14837,Subscriber,1980,1
184,185,NaN,NaN,383,2/1/2015 3:21,2/1/2015 3:27,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,223,W 13 St & 7 Ave,40.737815,-73.999947,14631,Subscriber,1981,2
185,186,NaN,NaN,145,2/1/2015 3:23,2/1/2015 3:25,491,E 24 St & Park Ave S,40.740964,-73.986022,546,E 30 St & Park Ave S,40.744449,-73.983035,18287,Subscriber,1984,1
186,187,NaN,NaN,974,2/1/2015 3:26,2/1/2015 3:43,505,6 Ave & W 33 St,40.749013,-73.988484,2004,6 Ave & Broome St,40.724399,-74.004704,14574,Subscriber,1985,2
187,188,NaN,NaN,167,2/1/2015 3:26,2/1/2015 3:29,438,St Marks Pl & 1 Ave,40.727791,-73.985649,504,1 Ave & E 15 St,40.732219,-73.981656,16436,Subscriber,1984,2
188,189,NaN,NaN,738,2/1/2015 3:28,2/1/2015 3:41,453,W 22 St & 8 Ave,40.744751,-73.999154,300,Shevchenko Pl & E 7 St,40.728145,-73.990214,18573,Subscriber,1987,1
189,190,NaN,NaN,398,2/1/2015 3:28,2/1/2015 3:35,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,285,Broadway & E 14 St,40.734546,-73.990741,19040,Subscriber,1977,1
190,191,NaN,NaN,148,2/1/2015 3:29,2/1/2015 3:32,472,E 32 St & Park Ave,40.745712,-73.981948,472,E 32 St & Park Ave,40.745712,-73.981948,20727,Subscriber,1982,1
191,192,NaN,NaN,585,2/1/2015 3:32,2/1/2015 3:41,483,E 12 St & 3 Ave,40.732233,-73.988900,268,Howard St & Centre St,40.719105,-73.999733,21046,Subscriber,1994,1
192,193,NaN,NaN,366,2/1/2015 3:33,2/1/2015 3:39,437,Macon St & Nostrand Ave,40.680983,-73.950048,344,Monroe St & Bedford Ave,40.685144,-73.953809,17284,Subscriber,1984,1
193,194,NaN,NaN,401,2/1/2015 3:39,2/1/2015 3:46,393,E 5 St & Avenue C,40.722992,-73.979955,403,E 2 St & 2 Ave,40.725029,-73.990697,20358,Subscriber,1983,1
194,195,NaN,NaN,232,2/1/2015 3:41,2/1/2015 3:44,434,9 Ave & W 18 St,40.743174,-74.003664,494,W 26 St & 8 Ave,40.747348,-73.997236,17751,Subscriber,1975,1
195,196,NaN,NaN,412,2/1/2015 3:42,2/1/2015 3:49,479,9 Ave & W 45 St,40.760193,-73.991255,267,Broadway & W 36 St,40.750977,-73.987654,15185,Subscriber,1988,1
196,197,NaN,NaN,445,2/1/2015 3:44,2/1/2015 3:52,482,W 15 St & 7 Ave,40.739355,-73.999318,504,1 Ave & E 15 St,40.732219,-73.981656,18968,Subscriber,1990,1
197,198,NaN,NaN,861,2/1/2015 3:45,2/1/2015 4:00,511,E 14 St & Avenue B,40.729387,-73.977724,335,Washington Pl & Broadway,40.729039,-73.994046,17927,Subscriber,1972,1
198,199,NaN,NaN,339,2/1/2015 3:47,2/1/2015 3:53,520,W 52 St & 5 Ave,40.759923,-73.976485,153,E 40 St & 5 Ave,40.752062,-73.981632,17389,Subscriber,1963,1

In [8]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_a)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,9054,NaN,NaN,2099,2015-02-03 10:28:00+00,2015-02-03 11:02:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,18653,Subscriber,1966.0,2
1,1983,NaN,NaN,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
2,40341,NaN,NaN,1914,2015-02-07 09:49:00+00,2015-02-07 10:21:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,21520,Subscriber,1966.0,2
3,12938,NaN,NaN,1801,2015-02-04 06:32:00+00,2015-02-04 07:02:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,15161,Subscriber,1959.0,2
4,11298,NaN,NaN,1678,2015-02-03 18:21:00+00,2015-02-03 18:49:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,79,Franklin St & W Broadway,40.719116,-74.006667,21500,Subscriber,1964.0,1
5,13647,NaN,NaN,1537,2015-02-04 08:07:00+00,2015-02-04 08:33:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,487,E 20 St & FDR Drive,40.733143,-73.975739,18900,Subscriber,1977.0,2
6,9742,NaN,NaN,1535,2015-02-03 14:23:00+00,2015-02-03 14:48:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,334,W 20 St & 7 Ave,40.742388,-73.997262,15117,Subscriber,1956.0,2
7,11240,NaN,NaN,1518,2015-02-03 18:16:00+00,2015-02-03 18:42:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,476,E 31 St & 3 Ave,40.743943,-73.979661,19039,Subscriber,1971.0,1
8,20309,NaN,NaN,1493,2015-02-04 19:47:00+00,2015-02-04 20:12:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,79,Franklin St & W Broadway,40.719116,-74.006667,21080,Subscriber,1964.0,1
9,24953,NaN,NaN,1388,2015-02-05 10:34:00+00,2015-02-05 10:58:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,127,Barrow St & Hudson St,40.731724,-74.006744,19672,Subscriber,1974.0,1
10,18242,NaN,NaN,1382,2015-02-04 17:23:00+00,2015-02-04 17:46:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,369,Washington Pl & 6 Ave,40.732241,-74.000264,19059,Subscriber,1969.0,1
11,19501,NaN,NaN,1366,2015-02-04 18:40:00+00,2015-02-04 19:02:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,476,E 31 St & 3 Ave,40.743943,-73.979661,20139,Subscriber,1971.0,1
12,9087,NaN,NaN,1324,2015-02-03 10:40:00+00,2015-02-03 11:02:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,127,Barrow St & Hudson St,40.731724,-74.006744,19275,Subscriber,1974.0,1
13,15205,NaN,NaN,1293,2015-02-04 10:27:00+00,2015-02-04 10:48:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,127,Barrow St & Hudson St,40.731724,-74.006744,17034,Subscriber,1974.0,1
14,29783,NaN,NaN,1242,2015-02-05 19:28:00+00,2015-02-05 19:48:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,476,E 31 St & 3 Ave,40.743943,-73.979661,20068,Subscriber,1971.0,1
15,25953,NaN,NaN,1156,2015-02-05 13:14:00+00,2015-02-05 13:33:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,487,E 20 St & FDR Drive,40.733143,-73.975739,16336,Subscriber,1966.0,1
16,40761,NaN,NaN,1127,2015-02-07 10:41:00+00,2015-02-07 10:59:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,382,University Pl & E 14 St,40.734927,-73.992005,20239,Subscriber,1970.0,1
17,6536,NaN,NaN,1109,2015-02-02 06:35:00+00,2015-02-02 06:53:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,446,W 24 St & 7 Ave,40.744876,-73.995299,19154,Subscriber,1970.0,1
18,21477,NaN,NaN,1095,2015-02-04 23:00:00+00,2015-02-04 23:19:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,393,E 5 St & Avenue C,40.722992,-73.979955,18808,Subscriber,1955.0,1
19,11676,NaN,NaN,1082,2015-02-03 19:06:00+00,2015-02-03 19:24:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,463,9 Ave & W 16 St,40.742065,-74.004432,19721,Subscriber,1984.0,1
20,11198,NaN,NaN,1074,2015-02-03 18:12:00+00,2015-02-03 18:29:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,367,E 53 St & Lexington Ave,40.758281,-73.970694,21021,Subscriber,1964.0,1
21,15525,NaN,NaN,1054,2015-02-04 11:34:00+00,2015-02-04 11:52:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,470,W 20 St & 8 Ave,40.743453,-74.000040,15621,Subscriber,1954.0,2
22,7449,NaN,NaN,1051,2015-02-02 18:13:00+00,2015-02-02 18:31:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,367,E 53 St & Lexington Ave,40.758281,-73.970694,18199,Subscriber,1964.0,1
23,41177,NaN,NaN,1046,2015-02-07 11:43:00+00,2015-02-07 12:01:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,440,E 45 St & 3 Ave,40.752554,-73.972826,19400,Subscriber,1992.0,1
24,38358,NaN,NaN,984,2015-02-06 19:30:00+00,2015-02-06 19:46:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,463,9 Ave & W 16 St,40.742065,-74.004432,14589,Subscriber,1984.0,1
25,32776,NaN,NaN,977,2015-02-06 09:15:00+00,2015-02-06 09:32:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,212,W 16 St & The High Line,40.743349,-74.006818,21008,Subscriber,1968.0,1
26,19939,NaN,NaN,971,2015-02-04 19:12:00+00,2015-02-04 19:28:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,463,9 Ave & W 16 St,40.742065,-74.004432,20188,Subscriber,1984.0,1
27,1527,NaN,NaN,962,2015-02-01 11:47:00+00,2015-02-01 12:03:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,212,W 16 St & The High Line,40.743349,-74.006818,16524,Subscriber,1977.0,1
28,387,NaN,NaN,961,2015-02-01 08:38:00+00,2015-02-01 08:54:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,212,W 16 St & The High Line,40.743349,-74.006818,20786,Subscriber,1972.0,2
29,32789,NaN,NaN,953,2015-02-06 09:16:00+00,2015-02-06 09:32:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,212,W 16 St & The High Line,40.743349,-74.006818,18659,Subscriber,1969.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,11092,NaN,NaN,252,2015-02-03 18:00:00+00,2015-02-03 18:04:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,15184,Subscriber,1944.0,1
46122,29531,NaN,NaN,251,2015-02-05 19:04:00+00,2015-02-05 19:09:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,2008,Little West St & 1 Pl,40.705693,-74.016777,20663,Subscriber,1980.0,1
46123,31673,NaN,NaN,243,2015-02-06 07:55:00+00,2015-02-06 07:59:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,20605,Subscriber,1958.0,2
46124,31692,NaN,NaN,243,2015-02-06 07:57:00+00,2015-02-06 08:01:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,195,Liberty St & Broadway,40.709056,-74.010434,20226,Subscriber,1985.0,1
46125,25268,NaN,NaN,241,2015-02-05 11:23:00+00,2015-02-05 11:27:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,195,Liberty St & Broadway,40.709056,-74.010434,19560,Subscriber,1958.0,1
46126,7866,NaN,NaN,239,2015-02-02 23:03:00+00,2015-02-02 23:07:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,2008,Little West St & 1 Pl,40.705693,-74.016777,17442,Subscriber,1973.0,1
46127,22761,NaN,NaN,234,2015-02-05 07:54:00+00,2015-02-05 07:58:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,20188,Subscriber,1958.0,2
46128,20373,NaN,NaN,217,2015-02-04 19:53:00+00,2015-02-04 19:56:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,19403,Subscriber,1959.0,2
46129,28881,NaN,NaN,215,2015-02-05 18:15:00+00,2015-02-05 18:19:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,17658,Subscriber,1965.0,1
46130,40808,NaN,NaN,211,2015-02-07 10:45:00+00,2015-02-07 10:48:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,14950,Subscriber,1957.0,2
46131,37215,NaN,NaN,208,2015-02-06 18:00:00+00,2015-02-06 18:04:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,2008,Little West St & 1 Pl,40.705693,-74.016777,18718,Subscriber,1984.0,1
46132,38342,NaN,NaN,197,2015-02-06 19:28:00+00,2015-02-06 19:32:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,195,Liberty St & Broadway,40.709056,-74.010434,15861,Subscriber,1985.0,1
46133,39902,NaN,NaN,193,2015-02-07 08:23:00+00,2015-02-07 08:26:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,15007,Subscriber,1959.0,2
46134,11252,NaN,NaN,191,2015-02-03 18:16:00+00,2015-02-03 18:19:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,15171,Subscriber,1970.0,2
46135,17198,NaN,NaN,181,2015-02-04 15:48:00+00,2015-02-04 15:51:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,21228,Subscriber,1969.0,1
46136,3844,NaN,NaN,181,2015-02-01 15:47:00+00,2015-02-01 15:50:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,2008,Little West St & 1 Pl,40.705693,-74.016777,20876,Subscriber,1984.0,1
46137,44778,NaN,NaN,179,2015-02-07 18:44:00+00,2015-02-07 18:47:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,21366,Subscriber,1973.0,1
46138,12171,NaN,NaN,170,2015-02-03 20:40:00+00,2015-02-03 20:43:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,16155,Subscriber,1979.0,1
46139,44488,NaN,NaN,167,2015-02-07 18:10:00+00,2015-02-07 18:13:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,17658,Subscriber,1972.0,2
46140,36546,NaN,NaN,163,2015-02-06 17:19:00+00,2015-02-06 17:22:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,18048,Subscriber,1978.0,1
46141,44843,NaN,NaN,162,2015-02-07 18:55:00+00,2015-02-07 18:57:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,17658,Subscriber,1981.0,2
46142,39892,NaN,NaN,151,2015-02-07 08:20:00+00,2015-02-07 08:23:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,15008,Subscriber,1961.0,1
46143,32618,NaN,NaN,150,2015-02-06 09:02:00+00,2015-02-06 09:05:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,327,Vesey Pl & River Terrace,40.715338,-74.016584,20131,Subscriber,1978.0,2
46144,21869,NaN,NaN,134,2015-02-05 05:58:00+00,2015-02-05 06:00:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,20547,Subscriber,1974.0,1
46145,28292,NaN,NaN,132,2015-02-05 17:37:00+00,2015-02-05 17:39:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,20663,Subscriber,1968.0,2
46146,44128,NaN,NaN,118,2015-02-07 17:25:00+00,2015-02-07 17:27:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,17272,Subscriber,1982.0,1
46147,41340,NaN,NaN,108,2015-02-07 12:07:00+00,2015-02-07 12:09:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,363,West Thames St,40.708347,-74.017134,18470,Subscriber,1979.0,1
46148,8857,NaN,NaN,99,2015-02-03 09:37:00+00,2015-02-03 09:39:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,3002,South End Ave & Liberty St,40.711512,-74.015756,18107,Subscriber,1981.0,1
46149,13778,NaN,NaN,85,2015-02-04 08:16:00+00,2015-02-04 08:18:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,3002,South End Ave & Liberty St,40.711512,-74.015756,16585,Subscriber,1967.0,1
46150,27360,NaN,NaN,79,2015-02-05 16:29:00+00,2015-02-05 16:30:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,3002,South End Ave & Liberty St,40.711512,-74.015756,17061,Subscriber,1954.0,1

In [10]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_b)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,9054,NaN,NaN,2099,2015-02-03 10:28:00+00,2015-02-03 11:02:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,18653,Subscriber,1966.0,2
1,1983,NaN,NaN,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
2,40341,NaN,NaN,1914,2015-02-07 09:49:00+00,2015-02-07 10:21:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,21520,Subscriber,1966.0,2
3,12938,NaN,NaN,1801,2015-02-04 06:32:00+00,2015-02-04 07:02:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,328,Watts St & Greenwich St,40.724055,-74.009660,15161,Subscriber,1959.0,2
4,11298,NaN,NaN,1678,2015-02-03 18:21:00+00,2015-02-03 18:49:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,79,Franklin St & W Broadway,40.719116,-74.006667,21500,Subscriber,1964.0,1
5,13647,NaN,NaN,1537,2015-02-04 08:07:00+00,2015-02-04 08:33:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,487,E 20 St & FDR Drive,40.733143,-73.975739,18900,Subscriber,1977.0,2
6,9742,NaN,NaN,1535,2015-02-03 14:23:00+00,2015-02-03 14:48:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,334,W 20 St & 7 Ave,40.742388,-73.997262,15117,Subscriber,1956.0,2
7,11240,NaN,NaN,1518,2015-02-03 18:16:00+00,2015-02-03 18:42:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,476,E 31 St & 3 Ave,40.743943,-73.979661,19039,Subscriber,1971.0,1
8,20309,NaN,NaN,1493,2015-02-04 19:47:00+00,2015-02-04 20:12:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,79,Franklin St & W Broadway,40.719116,-74.006667,21080,Subscriber,1964.0,1
9,24953,NaN,NaN,1388,2015-02-05 10:34:00+00,2015-02-05 10:58:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,127,Barrow St & Hudson St,40.731724,-74.006744,19672,Subscriber,1974.0,1

In [11]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_c)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,8998,NaN,NaN,107,2015-02-03 10:10:00+00,2015-02-03 10:12:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,72,W 52 St & 11 Ave,40.767272,-73.993929,19039,Subscriber,1980,2
1,40759,NaN,NaN,189,2015-02-07 10:40:00+00,2015-02-07 10:43:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,72,W 52 St & 11 Ave,40.767272,-73.993929,18131,Subscriber,1959,2
2,40757,NaN,NaN,229,2015-02-07 10:40:00+00,2015-02-07 10:44:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,72,W 52 St & 11 Ave,40.767272,-73.993929,19729,Subscriber,1995,1
3,21948,NaN,NaN,248,2015-02-05 06:19:00+00,2015-02-05 06:24:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,16879,Subscriber,1970,1
4,43099,NaN,NaN,252,2015-02-07 15:43:00+00,2015-02-07 15:47:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,515,W 43 St & 10 Ave,40.760094,-73.994618,15277,Subscriber,1983,1
5,32566,NaN,NaN,261,2015-02-06 08:58:00+00,2015-02-06 09:02:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,18492,Subscriber,1971,1
6,15971,NaN,NaN,276,2015-02-04 12:46:00+00,2015-02-04 12:51:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,19216,Subscriber,1961,1
7,41355,NaN,NaN,283,2015-02-07 12:10:00+00,2015-02-07 12:15:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,21588,Subscriber,1974,1
8,42074,NaN,NaN,288,2015-02-07 13:50:00+00,2015-02-07 13:54:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,19124,Subscriber,1978,1
9,2282,NaN,NaN,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974,1

In [14]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_d)), sep=',')

     start_station_id  Unnamed: 1
0                 195         NaN
1                 251         NaN
2                 285         NaN
3                 120         NaN
4                 483         NaN
5                 264         NaN
6                 497         NaN
7                 305         NaN
8                 318         NaN
9                 312         NaN
10                496         NaN
11                455         NaN
12                470         NaN
13                276         NaN
14               2008         NaN
15                313         NaN
16                262         NaN
17                362         NaN
18                151         NaN
19                384         NaN
20                119         NaN
21                399         NaN
22                356         NaN
23                270         NaN
24                437         NaN
25                514         NaN
26                518         NaN
27                329         NaN
28                268         NaN
29                531         NaN
..                ...         ...
297               420         NaN
298               443         NaN
299               490         NaN
300               492         NaN
301               416         NaN
302               331         NaN
303               232         NaN
304               427         NaN
305               377         NaN
306               445         NaN
307               411         NaN
308               260         NaN
309               403         NaN
310               494         NaN
311               244         NaN
312               128         NaN
313               223         NaN
314               456         NaN
315               300         NaN
316               217         NaN
317               538         NaN
318               383         NaN
319               212         NaN
320               353         NaN
321               328         NaN
322               216         NaN
323               263         NaN
324               266         NaN
325               144         NaN
326               453         NaN

[327 rows x 2 columns]

In [16]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_e)), sep=',')

   count  Unnamed: 1
0  46200         NaN

In [18]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_f)), sep=',')

     max  Unnamed: 1
0  43016         NaN

In [19]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_g)), sep=',')

   min  Unnamed: 1
0   60         NaN

In [22]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_h)), sep=',')

          avg  Unnamed: 1
0  675.865823         NaN

In [29]:
#Task 2 Select trips started on Feb-02-2015 only
# start time 2015-02-03 10:10:00+00

task_2_a = '''
SELECT * FROM citibike_1
WHERE starttime >= '2015-02-02 00:00'
AND starttime < '2015-02-03 00:00'
'''
#SELECT * 
#FROM citibike 
#WHERE starttime >= ‘2015-02-02 00:00’
#	AND starttime < ‘2015-02-03 00:00’


#2b select trips started on the weekends 
task_2_b = '''
SELECT EXTRACT (DOW FROM starttime) NOT IN (2,3,4,5,6)
FROM citibike_1 
'''
#--Day of Week 
#SELECT EXTRACT(dow FROM report_dt) FROM table;
#--Day of Month
#SELECT DATE_PART('day', report_dt) FROM table;
#--Day of Year
#SELECT EXTRACT(doy FROM report_dt) FROM table;
#1=Sunday, 7=Saturday


#2c average trip duration during weekends

task_2_c = '''
SELECT AVG (tripduration)
FROM citibike_1
WHERE EXTRACT (DOW FROM starttime) NOT IN (2,3,4,5,6)
'''
#SELECT MAX(column_name)
#FROM table_name
#WHERE condition;

#2 average trip duration during weekday 

task_2_d = '''
SELECT AVG (tripduration)
FROM citibike_1
WHERE EXTRACT (DOW FROM starttime) NOT IN (1,7)
'''

In [24]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_2_a)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,6442,NaN,NaN,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,W 27 St & 7 Ave,40.746647,-73.993915,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
1,6443,NaN,NaN,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,E 11 St & 1 Ave,40.729538,-73.984267,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
2,6444,NaN,NaN,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,Peck Slip & Front St,40.707873,-74.001670,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
3,6445,NaN,NaN,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,E 16 St & 5 Ave,40.737262,-73.992390,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
4,6446,NaN,NaN,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,W 41 St & 8 Ave,40.756405,-73.990026,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
5,6447,NaN,NaN,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,Dean St & 4 Ave,40.683125,-73.978951,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
6,6448,NaN,NaN,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
7,6449,NaN,NaN,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,Reade St & Broadway,40.714505,-74.005628,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
8,6450,NaN,NaN,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
9,6451,NaN,NaN,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,1 Ave & E 15 St,40.732219,-73.981656,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
10,6452,NaN,NaN,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,Broadway & E 14 St,40.734546,-73.990741,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
11,6453,NaN,NaN,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,E 2 St & Avenue B,40.722174,-73.983688,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
12,6454,NaN,NaN,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,Peck Slip & Front St,40.707873,-74.001670,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
13,6455,NaN,NaN,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,Columbia St & Rivington St,40.717400,-73.980166,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
14,6456,NaN,NaN,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,W 20 St & 8 Ave,40.743453,-74.000040,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
15,6457,NaN,NaN,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,St Marks Pl & 2 Ave,40.728419,-73.987140,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
16,6458,NaN,NaN,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,W 20 St & 8 Ave,40.743453,-74.000040,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
17,6459,NaN,NaN,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,W 37 St & 5 Ave,40.750380,-73.983390,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
18,6460,NaN,NaN,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,W 13 St & 6 Ave,40.736494,-73.997044,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
19,6461,NaN,NaN,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,10 Ave & W 28 St,40.750664,-74.001768,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
20,6462,NaN,NaN,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,E 25 St & 2 Ave,40.739126,-73.979738,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
21,6463,NaN,NaN,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,W 4 St & 7 Ave S,40.734011,-74.002939,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
22,6464,NaN,NaN,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,W 20 St & 7 Ave,40.742388,-73.997262,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
23,6465,NaN,NaN,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,W 46 St & 11 Ave,40.763414,-73.996674,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
24,6466,NaN,NaN,154,2015-02-02 00:27:00+00,2015-02-02 00:30:00+00,428,E 3 St & 1 Ave,40.724677,-73.987834,301,E 2 St & Avenue B,40.722174,-73.983688,18737,Subscriber,1961.0,1
25,6467,NaN,NaN,550,2015-02-02 00:28:00+00,2015-02-02 00:37:00+00,331,Pike St & Monroe St,40.711731,-73.991930,195,Liberty St & Broadway,40.709056,-74.010434,17797,Subscriber,1980.0,2
26,6468,NaN,NaN,268,2015-02-02 00:29:00+00,2015-02-02 00:34:00+00,529,W 42 St & 8 Ave,40.757570,-73.990985,478,11 Ave & W 41 St,40.760301,-73.998842,20638,Subscriber,1990.0,1
27,6469,NaN,NaN,153,2015-02-02 00:29:00+00,2015-02-02 00:31:00+00,421,Clermont Ave & Park Ave,40.695734,-73.971297,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,17636,Subscriber,1989.0,1
28,6470,NaN,NaN,309,2015-02-02 00:31:00+00,2015-02-02 00:36:00+00,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,494,W 26 St & 8 Ave,40.747348,-73.997236,18472,Subscriber,1982.0,1
29,6471,NaN,NaN,138,2015-02-02 00:33:00+00,2015-02-02 00:35:00+00,383,Greenwich Ave & Charles St,40.735238,-74.000271,252,MacDougal St & Washington Sq,40.732264,-73.998522,17456,Subscriber,1968.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,7871,NaN,NaN,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,Allen St & E Houston St,40.722055,-73.989111,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,7872,NaN,NaN,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,Broadway & W 29 St,40.746201,-73.988557,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,7873,NaN,NaN,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,W 56 St & 6 Ave,40.763406,-73.977225,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,7874,NaN,NaN,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,10 Ave & W 28 St,40.750664,-74.001768,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,7875,NaN,NaN,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,W 26 St & 8 Ave,40.747348,-73.997236,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,7876,NaN,NaN,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,Broadway & E 22 St,40.740343,-73.989551,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,7877,NaN,NaN,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,E 47 St & 2 Ave,40.753231,-73.970325,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,7878,NaN,NaN,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,Broadway & W 32 St,40.748549,-73.988084,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,7879,NaN,NaN,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,8 Ave & W 31 St,40.750450,-73.994811,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,7880,NaN,NaN,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,7881,NaN,NaN,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,7882,NaN,NaN,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,W 26 St & 8 Ave,40.747348,-73.997236,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,7883,NaN,NaN,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,Cliff St & Fulton St,40.708235,-74.005301,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,7884,NaN,NaN,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,Rivington St & Ridge St,40.718502,-73.983299,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,7885,NaN,NaN,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,W 49 St & 8 Ave,40.762272,-73.987882,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,7886,NaN,NaN,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,Pershing Square North,40.751873,-73.977706,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,7887,NaN,NaN,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,E 30 St & Park Ave S,40.744449,-73.983035,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,7888,NaN,NaN,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,Sullivan St & Washington Sq,40.730477,-73.999061,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,7889,NaN,NaN,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,W 42 St & 8 Ave,40.757570,-73.990985,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,7890,NaN,NaN,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,Broadway & E 22 St,40.740343,-73.989551,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,7891,NaN,NaN,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,1 Ave & E 15 St,40.732219,-73.981656,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,7892,NaN,NaN,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,6 Ave & W 33 St,40.749013,-73.988484,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,7893,NaN,NaN,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,9 Ave & W 22 St,40.745497,-74.001971,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,7894,NaN,NaN,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,E 16 St & 5 Ave,40.737262,-73.992390,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,7895,NaN,NaN,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,E 10 St & 5 Ave,40.733320,-73.995101,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,7896,NaN,NaN,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,W 44 St & 5 Ave,40.755003,-73.980144,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,7897,NaN,NaN,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,Spruce St & Nassau St,40.711464,-74.005524,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,7898,NaN,NaN,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,W 13 St & 6 Ave,40.736494,-73.997044,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,7899,NaN,NaN,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,W 22 St & 8 Ave,40.744751,-73.999154,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,7900,NaN,NaN,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,Broadway & E 14 St,40.734546,-73.990741,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

In [26]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_2_b)), sep=',')

       ?column?  Unnamed: 1
0          True         NaN
1         False         NaN
2         False         NaN
3          True         NaN
4          True         NaN
5          True         NaN
6          True         NaN
7          True         NaN
8          True         NaN
9          True         NaN
10         True         NaN
11         True         NaN
12         True         NaN
13         True         NaN
14         True         NaN
15         True         NaN
16         True         NaN
17         True         NaN
18         True         NaN
19         True         NaN
20         True         NaN
21         True         NaN
22         True         NaN
23         True         NaN
24         True         NaN
25         True         NaN
26         True         NaN
27         True         NaN
28         True         NaN
29         True         NaN
...         ...         ...
46170     False         NaN
46171     False         NaN
46172     False         NaN
46173     False         NaN
46174     False         NaN
46175     False         NaN
46176     False         NaN
46177     False         NaN
46178     False         NaN
46179     False         NaN
46180     False         NaN
46181     False         NaN
46182     False         NaN
46183     False         NaN
46184     False         NaN
46185     False         NaN
46186     False         NaN
46187     False         NaN
46188     False         NaN
46189     False         NaN
46190     False         NaN
46191     False         NaN
46192     False         NaN
46193     False         NaN
46194     False         NaN
46195     False         NaN
46196     False         NaN
46197     False         NaN
46198     False         NaN
46199     False         NaN

[46200 rows x 2 columns]

In [28]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_2_c)), sep=',')

          avg  Unnamed: 1
0  690.361646         NaN

In [30]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_2_d)), sep=',')

          avg  Unnamed: 1
0  667.876511         NaN

In [76]:
#Task 3 

#3_a Show the list of start station locations .. using GROUP BY 
task_3_a= '''
SELECT start_station_latitude, start_station_longitude FROM citibike_1
GROUP BY start_station_latitude, start_station_longitude 
'''

#3_b Show the number of trips started per station 

#station_id

task_3_b='''
SELECT start_station_id, COUNT (*) FROM citibike_1 
GROUP BY start_station_id, start_station_latitude, start_station_longitude 
'''
#Showing the number of trips started per station
#... but only for stations within 500m of Time Square!

task_3_c='''
SELECT start_station_id,  COUNT (*) FROM citibike_1 
where ST_DWithin(CDB_LatLng(start_station_latitude,start_station_longitude)::geography,
                 CDB_LatLng(40.7577,-73.9857)::GEOGRAPHY,
                 500)   
GROUP BY start_station_id, start_station_latitude, start_station_longitude
'''

#Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare!

task_4_a= '''
SELECT start_station_id, EXTRACT (DOW FROM starttime) NOT IN (2,3,4,5,6)
FROM citibike_1 
where ST_DWithin(CDB_LatLng(start_station_latitude,start_station_longitude)::geography,
                 CDB_LatLng(40.7577,-73.9857)::GEOGRAPHY,
                 500)  
GROUP BY start_station_id, starttime, start_station_latitude, start_station_longitude DESC LIMIT 10 
'''

# displays the top 10 rows since it's sorting in ascending order 
task_1_c = '''
SELECT * FROM citibike_1
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration ASC LIMIT 10
'''
#AVG(tripduration),
#ValueError: column "citibike_1.start_station_id" must appear in the GROUP BY clause or be used in an aggregate function
#Find the average/min/max trip duration 
#task_1_h='''
#SELECT AVG(tripduration)
#FROM citibike_1
#'''
#2b select trips started on the weekends 
#task_2_b = '''
#SELECT EXTRACT (DOW FROM starttime) NOT IN (2,3,4,5,6)
#FROM citibike_1 
#'''


#SELECT column1, column2
#FROM table_name
#WHERE [ conditions ]
#GROUP BY column1, column2
#ORDER BY column1, column2
#GROUP BY start_station_id, start_station_latitude, start_station_longitude 

#SELECT s.gid, s.school_name
#	FROM schools s
#		LEFT JOIN hospitals h ON ST_DWithin(s.the_geom, h.the_geom, 3000)
#	WHERE h.gid IS NULL;
    
    
#Showing the number of trips started per station
#... but only for stations within 500m of Time Square!

#min(cartodb_id) as cardb, avg(tripduration) as ta
#3_c for stations within 500m of Times Square 
#task_3_c='''
#select CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude,start_station_longitude)) as the_geom_webmercator
#from citibike_1
#where ST_DWithin(CDB_lATlNG(start_station_latitude,start_station_longitude)::geography,
#                 CDB_lATlNG(40.7577,-73.9857)::GEOGRAPHY,
#                 500)
#group by start_station_id,start_station_latitude,start_station_longitude
#'''

#SELECT
#  *,
#  ST_Distance(
#    the_geom::geography,
#    CDB_LatLng(37.7833,-122.4167)::geography
#  ) / 1000 AS dist
#FROM
#  earthquake_sql

In [33]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_3_a)), sep=',')

     start_station_latitude  start_station_longitude
0                 40.686919               -73.976682
1                 40.753202               -73.977987
2                 40.715422               -74.011220
3                 40.745497               -74.001971
4                 40.744751               -73.999154
5                 40.742065               -74.004432
6                 40.740964               -73.986022
7                 40.763406               -73.977225
8                 40.716059               -73.991908
9                 40.714948               -74.002345
10                40.703799               -74.008387
11                40.708531               -73.964090
12                40.727434               -73.993790
13                40.762288               -73.983362
14                40.727103               -74.002971
15                40.760660               -73.980420
16                40.685396               -73.974315
17                40.714979               -74.013012
18                40.693317               -73.953820
19                40.688515               -73.964763
20                40.720828               -73.977932
21                40.718710               -74.009001
22                40.690893               -73.996123
23                40.737262               -73.992390
24                40.735238               -74.000271
25                40.683826               -73.976323
26                40.767272               -73.993929
27                40.719392               -74.002472
28                40.750200               -73.990931
29                40.686768               -73.959282
..                      ...                      ...
297               40.689269               -73.989129
298               40.693631               -73.962236
299               40.689888               -73.981013
300               40.770513               -73.988038
301               40.751396               -74.005226
302               40.738177               -73.977387
303               40.721854               -74.007718
304               40.697666               -73.984764
305               40.684568               -73.958811
306               40.686832               -73.979677
307               40.746647               -73.993915
308               40.684157               -73.969223
309               40.715816               -73.994224
310               40.720196               -73.989978
311               40.732241               -74.000264
312               40.735354               -74.004831
313               40.720874               -73.980858
314               40.763441               -73.982681
315               40.750664               -74.001768
316               40.759291               -73.988597
317               40.730386               -74.002150
318               40.683178               -73.965964
319               40.700379               -73.995481
320               40.751873               -73.977706
321               40.764618               -73.987895
322               40.748238               -73.978311
323               40.726218               -73.983799
324               40.746920               -74.004519
325               40.719105               -73.999733
326               40.717227               -73.988021

[327 rows x 2 columns]

In [40]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_3_b)), sep=',')

     start_station_id  count
0                 438    156
1                 342     78
2                 242     46
3                 161    203
4                 373     27
5                 168    327
6                 502    151
7                 421     37
8                 511    279
9                 422    100
10                150    111
11                346    145
12                336    168
13                447    133
14                224     85
15                456    110
16                233     78
17                391     69
18                329    145
19                403    151
20                497    455
21                473     99
22               2005      7
23                238    125
24                315     69
25                312    207
26                368    238
27                496    250
28                195    137
29                454     55
..                ...    ...
297               366     88
298               433    259
299               348    159
300               475    156
301               404    111
302               212    186
303               261     50
304               530    120
305               152     71
306               393    142
307               257    123
308               279     89
309               344     34
310               449    107
311               358    292
312               464     41
313               390     27
314               458    172
315               345    257
316               431     28
317               250    289
318               453    218
319               265    132
320               271    100
321               351     63
322               267    177
323               335    222
324               485    157
325               470    173
326               349     65

[327 rows x 2 columns]

In [63]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_3_c)), sep=',')

   start_station_id  count
0               477    507
1              2021    141
2               465    251
3               493    141
4               524    112
5               529    221
6               173    213

In [77]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_4_a)), sep=',')

ValueError: syntax error at or near "DESC"

In [75]:

#min(cartodb_id) as cardb, avg(tripduration) as ta
#4_a for stations within 500m of Times Square 
task_4_b= '''
SELECT CDB_TransformToWebmercator( 

		CDB_LatLng(start_station_latitude, 
					start_station_longitude) )as the_geom_webmercator,

		MIN(cartodb_id) as cartodb_id FROM citibike
WHERE ST_DWithin (CDB_lATlNG(start_station_latitude, start_station_longitude:: geography, 
CDB_LatLng( 40.7577, -73.9857)::geography, 500)
GROUP BY start_station_id,start_station_latitude,start_station_longitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_4_b)), sep=',')

ValueError: syntax error at or near "GROUP"

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel